/* Paleta de colores
#BFC23F acid green
#EF323E imperial red
#FF7711 pumpkin */

/* rgb(0, 205, 247) azul */
/*#90D623 
la fuenta aun no la definimos pienso que ya al tener la estructura, nos preocupamos por eso*/
/* font-family: Poppins,sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Oswald:wght@400;700&family=Poppins:wght@200&family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html {
  scroll-behavior: smooth;
}
.logotipo {
  width: 250px;
}
.color_fondo {
  background-color: #ff7711;
}
.nav-link {
  margin-left: 2rem;
  color: white;
  font-size: 1.5rem;
}
.icon1 {
  width: 30px;
  margin: 10px 5px;
}
.icon2 {
  width: 30px;
  margin: 10px 5px;
}
.icon1:hover {
  background-color: red;
  border-radius: 0.5rem;
}
.icon2:hover {
  background-color: blue;
  border-radius: 0.5rem;
}
.altura-a-b {
  padding: 100px 0;
}
.titulo_hero {
  font-family: jeenull;
  font-size: 5rem;
}
.parrafo_hero {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.56rem;
  width: 50%;
  font-weight: 700;
}
.titulo_hero_2 {
  font-family: jeenull;
  font-size: 5rem;
}

.carousel-caption {
  top: 25%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: left;
  display: table;
}

.contenedor {
  position: absolute;
  left: 50%;
  transform: translateX(-15%) translateX(-50%);
}
.carousel-control-next,
.carousel-control-prev {
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  width: 50px;
}
.contenedor_hero {
  position: relative;
}
.boton_producto {
  position: absolute;
  text-decoration: none;
  padding: 1rem;
  margin-left: 15%;
  color: #f5f8fb;
  border: solid #f5f8fb;
  border-radius: 1rem;
  font-weight: 700;
}
.boton_producto:hover {
  color: black;
  background-color: #ff7711;
}
.boton_peluqueria {
  color: #ff7711;
  margin: 0 auto;
  width: fit-content;
  border: solid #ff7711;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
}

.boton_cita {
  color: #ff7711;
  text-decoration: none;
}
.boton_cita:hover {
  color: black;
}
.boton_selecion {
  color: black;
}

.img_somos {
  filter: drop-shadow(4px 6px 12px black);
  border-radius: 2rem;
}

.texto_descriptivo {
  padding: 2rem;
  text-align: center;
}
.contenedor_somos {
  position: relative;
}
.titulo_somos {
  font-family: jeenull;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-size: 3rem;
}
.citas_bc {
  position: relative;
}

.instruccion {
  padding: 2rem;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .boton_producto {
    margin-top: auto;
    padding: 0.5rem;
  }
  .titulo_hero_2 {
    margin: auto;
    font-size: 2rem;
  }
  .parrafo_hero {
    margin-top: 0.25rem;
    margin-left: 2rem;
    font-size: 1rem;
  }
  .titulo_somos {
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-size: 1.5rem;
  }
  .texto_descriptivo {
    font-size: 0.6rem;
  }
  .instruccion {
    font-size: 0.6rem;
  }
  .boton_peluqueria {
    color: #ff7711;
    margin: 0 auto;
    width: fit-content;
    border: solid #ff7711;
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-weight: 600;
  }

  .altura-a-b {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 425px) {
  .titulo_hero {
    margin-left: 3rem;
    font-size: 2rem;
  }
  .parrafo_hero {
    font-size: 0.75em;
    margin-top: 1rem;
    margin-left: 0.1rem;
    margin-bottom: 0rem;
    width: 25rem;
  }

  .boton_producto {
    margin-left: 7rem;
    margin-top: 1rem;
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 375px) {
  .titulo_hero {
    margin-left: 2rem;
    font-size: 2rem;
  }
  .parrafo_hero {
    font-size: 0.75em;
    width: 20rem;
  }

  .boton_producto {
    margin-left: 6rem;
    margin-top: 0.5rem;
  }
  .altura-a-b {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 320px) {
  .logotipo {
    margin-left: 1.5rem;
  }
  .titulo_hero {
    margin-top: 0.1rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
  }
  .parrafo_hero {
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 0.5em;
    width: 20rem;
  }
  .boton_producto {
    margin-left: 6rem;
    margin-top: 0.4rem;
    font-size: 0.3rem;
    padding: 0.5rem;
  }
  @media (hover: hover) {
    .boton_producto {
      background-color: rgb(7, 6, 12, 0.7);
    }
  }
}
