/* Paleta de colores
#BFC23F acid green
#EF323E imperial red
#FF7711 pumpkin */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  background-color: #ff7711;
  position: relative;
  display: flex;
}

.logo_tienda {
  width: 250px;
  margin-left: 15px;
}
.header_list {
  display: flex;
  margin-right: 50px;
  margin: auto;
  padding: 50px 0;
}
.btn_agendar {
  margin-top: 100px;
}
